@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rounded-btn: 0;
    --rounded-box: 0;
}

h1 {
    @apply text-2xl font-bold;
}

h2 {
    @apply text-lg font-bold;
}

pre {
    @apply bg-base-200 overflow-auto p-6 rounded-box my-4;

    &:before {
        content: 'DEBUG';
        @apply badge badge-neutral block mb-4 -mt-4 -ml-4;
    }
}

.router-link-active {
    @apply active;
}

.container {
    @apply px-4 py-6;
    min-height: calc(100dvh - 4rem - 4rem);
}

body {
    min-height: 100dvh;
    background: url('~/assets/img/background.jpg') top center no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

*,
*:hover {
    scrollbar-color: initial;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: oklch(var(--p)) oklch(var(--n));
} */

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: oklch(var(--n));
}

::-webkit-scrollbar-thumb {
    background-color: oklch(var(--a));
    // border: 3px solid oklch(var(--n));
}

.border-oh-white {
    border-color: #37393c;
}

.border-oh-green {
    border-color: #4f735a;
}

.border-oh-blue {
    border-color: #5a8191;
}

.border-oh-purple {
    border-color: #734ea5;
}

.border-oh-orange {
    border-color: #d9a44a;
}

.bg-oh-white {
    background: #c9c9c9;
    background: linear-gradient(90deg, #c9c9c9 0%, #c9c9c9 50%, #838383 100%);
    color: #020202;
    border-bottom: 2px solid #f8f8f8;
}

.bg-oh-green {
    background: #416c4f;
    background: linear-gradient(90deg, #416c4f 0%, #355941 50%, #2a4634 100%);
    color: #000000;
    border-bottom: 2px solid #4e8561;
}

.bg-oh-blue {
    background: #456880;
    background: linear-gradient(90deg, #456880 0%, #3c576d 50%, #2f4455 100%);
    color: #000000;
    border-bottom: 2px solid #5981a2;
}

.bg-oh-orange {
    background: #a28651;
    background: linear-gradient(90deg, #a28651 0%, #856d42 50%, #695634 100%);
    color: #020202;
    border-bottom: 2px solid #fbce6a;
}

.bg-oh-purple {
    background: #6c5485;
    background: linear-gradient(90deg, #6c5485 0%, #56446c 50%, #453654 100%);
    color: #000;
    border-bottom: 2px solid #80649f;
}

.bg-oh-item-white {
    background: #292927;
    background: linear-gradient(180deg, #292927 0%, #1b1c1b 100%);
}

.bg-oh-item-green {
    background: #1c2023;
    background: linear-gradient(190deg, #1c2023 0%, #233129 100%);
}

.bg-oh-item-blue {
    background: #1e2427;
    background: linear-gradient(190deg, #1e2427 0%, #242f45 100%);
}

.bg-oh-item-purple {
    background: #242423;
    background: linear-gradient(190deg, #242423 0%, #3a2547 100%);
}

.bg-oh-item-orange {
    background: #1c1e21;
    background: linear-gradient(190deg, #1c1e21 0%, #402f1f 100%);
}

.scroll {
    scrollbar-gutter: stable;
    overflow-y: auto;
}

// Mardown

.markdown {
    @apply flex flex-col gap-4;

    ul,
    ol {
        @apply ml-6;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    kbd {
        @apply kbd kbd-sm;
    }

    &.item {
        strong {
            @apply text-accent font-semibold;
        }

        em {
            @apply text-error not-italic;
        }
    }
}
